.text-right {
    text-align: right;
    color: white;
    padding-right: 100px;
}
.text-box-right {
    margin-right: 30px;
    margin-top: 20px;
}
.right-container {
    display: flex;
    justify-content: flex-end;
}
.login-button {
    background-color: rgb(135, 0, 135);
    color: white;
    border-radius: 10px;
    padding-top:10px;
    padding-right: 15px;
    padding-left:15px;
    padding-bottom: 10px;
    margin-top: 20px;
    margin-right: 94px;
}